.header {
  position: relative;
  min-height: 142px;
  -webkit-box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.06);
  text-align: center;
  padding: 10px 0 0 0;

  @media screen and (min-width: 1280px) {
    min-height: 112px;
    padding: 24px 0 0 0;
  }
}

@media screen and (min-width: 1280px) {
  .header_head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 12px;
  }
}

.header_logo {
  padding: 10px;

  @media screen and (min-width: 1280px) {
    padding: 0;
  }
}

.header_profile {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 17px;

  @media screen and (min-width: 1280px) {
    margin: 0;
  }
}

.header_profile-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.5px;
  margin-right: 20px;
}

.header_profile-avatar {
  width: 35px;
  margin-right: 16px;
}

.header_profile-avatar--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 21px;

  &::after {
    content: url(images/icons/arrow.svg);
    display: inline-block;
    line-height: 30px;
    opacity: 0.6;
    cursor: pointer;
  }
}

.header_profile-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;

  @media screen and (min-width: 1280px) {
    background-size: 32px 32px;
  }
}

.bell {
  background-image: url(images/icons/bell.svg);
}

.gift {
  background-image: url(images/icons/gift.svg);
}

.medium {
  background-image: url(images/icons/medium.svg);
}

.navigation {
  width: 261px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 19px;
  margin: 0 auto;

  @media screen and (min-width: 1280px) {
    margin: 0;
  }
}

.navigation_item {
  text-decoration: none;
  color: $primary-font-color;
  opacity: 0.6;
  font-weight: 600;

  &::after {
    display: block;
    height: 3px;
    background: -o-linear-gradient(276.71deg, #ff974f 0%, #e32c75 100%);
    background: linear-gradient(173.29deg, #ff974f 0%, #e32c75 100%);
    margin: 10px 0 auto;

    @media screen and (min-width: 1280px) {
      margin: 19px 0 auto;
    }
  }

  &:hover::after {
    content: "";
  }

  &:hover {
    opacity: 1;
  }
}

.header_add-button {
  position: absolute;
  top: 88%;
  right: 2%;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: -o-linear-gradient(315deg, #ff974f 0%, #e32c75 100%);
  background: linear-gradient(135deg, #ff974f 0%, #e32c75 100%);
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  line-height: 31px;
  cursor: pointer;

  @media screen and (min-width: 1280px) {
    width: 64px;
    height: 64px;
    font-size: 54px;
    line-height: 60px;
    top: 71%;
    right: 10%;
  }
}
